*{
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="data"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid  #ccc;
    border-radius: 10px;
    text-align: center;
}
fieldset{
    background-color: #fff;
    border: 4px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: lightblue;
    text-emphasis-color: red;
}
.main_heading{
    text-align: center;

}

input[type="submit"]{
    background-color: #4daea1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    ho 
}
